@import "vars";

.menubar {

  background-color: $panelBg;
  height: 48px;
  display: flex;

  &-content {
    flex: 1;
    display: flex;

    nav {
      flex: 1;
      display: flex;
    }
  }

  &-item {
    padding: 0 17px;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: $panelColor;
    cursor: default;
    position: relative;

    &:hover {
      background-color: $panelHoverBg;
    }
  }

  h1 {
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    color: $titleColor;
    align-content: center;
    margin-right: 10px;
  }

  &-sub-items {
    background-color: $panelHoverBg;
    position: absolute;
    z-index: 6;
    top: 48px;
    left: 0;
    display: flex;
    flex-direction: column;

    .menubar-item {
      flex: 0 0 32px;
      white-space: nowrap;
      font-size: 14px;

      &:hover{
        background-color: $panelSelectedBg;
      }
    }
  }

  &-status {
    display: flex;
    font-size: 13px;
    color: $panelColor;
    direction: rtl;

    .status {
      min-width: 100px;
      direction: ltr;
      text-transform: uppercase;
      display: flex;
      background-color: $panelHoverBg;
      align-items: center;
      justify-content: flex-end;

      padding: 0 10px;
      font-size: 10px;

      &:nth-child(odd) {
        background-color: $panelBg;
      }

    }
  }
}
