@import "vars";

.tools-panel {
  background-color: $panelBg;
  color: $panelColor;
  width: 48px;
  height: 100%;
  user-select: none;
  overflow: hidden;

  .tool {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    

    &:hover {
      background-color: $panelHoverBg;
    }

    &.selected {
      background-color: $panelSelectedBg;

      img {
        opacity: 0.55;
      }
    }

    img {
      opacity: 0.3;
      width: 24px;
      filter: brightness(0) invert(1);
      user-select: none;
      pointer-events: none;
    }
  }
}
