$background: #232125;
$panelBg: #332f35;
$panelHoverBg: #433d45;
$panelSelectedBg: #5a535e;
$panelSelectedBg2: #706775;
$titleColor: #675f6b;
$panelColor: #b3adb6;
$dialogTitle:  #e5e3e6;
$white: #ffffff;
$iconSize: 48px;